html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Arial", sans-serif;
    background-image: url("./assets/2workbackground.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
.parallax {
    background-attachment: scroll;
}
}
  
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-right: 80px;
}

.section-title {
    font-size: 50px;
    font-weight: 600;
}


.jumbotron {
    height: 100%;
    width: 100%;
    margin-bottom: 150px;
    background-color: rgba(220, 228, 240, 0.50);
    background-size: cover;
}

.firstSection {
    background-image: url("./assets/techbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-bottom: 150px;
    z-index: 1;
}

.btn {
    background-color: #EDEBEB;
    border: 2px solid navy;
    color: navy;
}

.btn:hover {
    background-color: navy;
    color: #EDEBEB;
    border: 2px solid #EDEBEB;
    font-weight: bold;
}

.vertical-center {
    height:100%;
    width:100%;
    text-align: center; 
    font: 0/0 a;      
}

.vertical-center:before { 
    content: " ";
    display: inline-block;
    vertical-align: middle; 
    height: 100%;
  }

  .vertical-center > .container {
    max-width: 100%;
  
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

.jumbotron h1 {
    font: 400 100px/1.5 'Baloo Thambi 2', cursive;
    font-weight: bold;
    color: navy;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.jumbotron h2 {
    font: 400 50px/1.5 'Baloo Thambi 2', cursive;
    color: navy;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.jumbotron h3 {
    font: 400 40px/1.5 'Baloo Thambi 2', cursive;
    color: navy;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.jumbotron h3:hover {
    font-weight: bold;
    text-decoration: none;
}

.jumbotron h4 {
    font: 400 30px/1.5 'Baloo Thambi 2', cursive;
    font-weight: bold;
    color: navy;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.jumbotron h5 {
    font: 400 20px/1.5 'Baloo Thambi 2', cursive;
    color: navy;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

.container {
    text-align: center;
}

.ProfilePic img {
    height: auto;
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px navy;
    float: left;
    margin: 30px 70px 30px 100px;
}

.aboutMe {
    text-align: center;
    padding-bottom: 35px;
}

.aboutMe p {
    color: navy;
    font-family: 'Baloo Thambi 2', cursive;
}

.portfolio {
    text-align: center;
}
.portfolio img {
    height: 200px;
    width: auto;
    border: 4px solid navy;
    border-radius: 10px;
}

.column {
    width: 33%;
    padding: 30px;
  }

.column h3 {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .contact {
    text-align: center;
  }
  .contact img {
    border: 2px solid navy;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
  }

  .contact img:hover {
      position: relative;
      top: -5px;
  }

  .submit .btn {
      color: navy;
      border: 2px solid navy;
  }

.socialpics {
    height: 65px;
    width: 75px;
    display: inline-block;
}

.footer p {
    font: 400 20px/1.5 'Baloo Thambi 2', cursive;
    text-align: center;
    color: navy;
}

